<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        font: 15px arial, sans-serif;
        font-weight: bold;
        border: 1px solid #cca447;
        box-shadow: #cca447;
    }

    a.list-group-item:focus,
    a.list-group-item:hover{
        color: #fff;
        text-decoration: none;
        font: 18px arial, sans-serif;
        background-color: #cca447;
    }
</style>
<body style="padding: 0" >

<nav class="navbar navbar-default headbar" style="background-color: #d9b049" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#my-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand header-style" href="#" style="color: white; ">
                <b>Sample App</b>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="my-collapse">
            <ul class="nav navbar-nav">
                <li class="mychoice "><a href="/" style="color: white;"><span class="fa fa-home"></span></a></li>
                <li class="mychoice current"><a href="/userlist" style="color: white;"><b>Contact List</b></a></li>
                <li class="mychoice"><a style="color: white;" href="/sentmessages"><b>Sent Messages</b></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="list-group">
    <% for (i=0;i<users.length;i++){%>
        <div><a  href="/userinfo/<%= users[i]._id%>" class="list-group-item"><%= users[i].Firstname+" "+users[i].Lastname%></a></div>

    <%}%>
</div>
</div>
</body>
</html>
